<link rel="shortcut icon" href="cover.png">
<link rel="stylesheet" type="text/css" href="main.css">
<title>FAWM 2018 - Mark! &amp; Friends!</title>

    <meta name="title" content="FAWM 2018, by Mark! &amp; Friends!">
        <meta property="og:title" content="FAWM 2018, by Mark! &amp; Friends!">
        <meta property="og:type" content="album">
        <meta property="og:site_name" content="Sponsored By Mark!">
        <meta property="og:description" content="14 track album">
        <meta property="og:image" content="cover.png">

<script src="jquery.min.js"></script>
<script src="playlist.js"></script>

<h1>FAWM 2018 - Mark! &amp; Friends!</h1>

<a href="https://marksilver.gitlab.io">(Return to Index)</a><br><br>

<img style="border:1px white solid" src="cover.png" width="250px" height="250px"/>

<p><i>Released on 25th February 2018</i></p>

<p>February Album Writing Month (FAWM) is an internet challenge where the objective is to write 14 original songs within the shortest month of the year (February). As per tradition, I successfully completed this challenge for the third year in a row. Without further adieu, here's my result from this year!</p><hr>

<h2>Listen</h2>

Click on a track's title to play it, &amp; the website will stream the playlist from there!<br>
Alternatively, you can stream this album in your own media player with its <a href="fawm2018.m3u">M3U File</a>.<br><br>

<audio id="audio" preload="auto" tabindex="0" controls="" src="I_Am_Houdini.mp3">

	You don't have Javascript enabled, but you can click a track's title to download it. :)

</audio>

<ul id="playlist">

	<li class="active">
	
		<a href="I_Am_Houdini.mp3">
			I Am Houdini
		</a>
	
	</li>

	<li>
	
		<a href="goodtown.mp3">
			Good Town
		</a>
		
		 (Instrumental by Josh Price)
	
	</li>
	
	<li>
	
		<a href="Dont_You_Worry.mp3">
			Don't You Worry
		</a>
	
	</li>
	
	<li>
	
		<a href="blue.mp3">
			Blue
		</a>
		
		 (Instrumental by Michael Karns)
	
	</li>
	
	<li>
	
		<a href="eveningecho.mp3">
			Evening Echo
		</a>
		
		 (Lyrics by Doug Haberman)
	
	</li>
	
	<li>
	
		<a href="comingdown.mp3">
			Coming Down
		</a>
		
		 (Lyrics by Doug Haberman)
	
	</li>
	
	<li>
	
		<a href="zonedout.mp3">
			Zoned Out
		</a>
	
	</li>
	
	<li>
	
		<a href="Its_About_The_Journey.mp3">
			It's About The Journey
		</a>
	
	</li>
	
	<li>
	
		<a href="Uncertainty.mp3">
			Uncertainty
		</a>
	
	</li>
	
	<li>
	
		<a href="funkyinterlude.mp3">
			Funky Interlude
		</a>
	
	</li>
	
	<li>
	
		<a href="Springtime_Cometh.mp3">
			Springtime, Cometh!
		</a>
	
	</li>
	
	<li>
	
		<a href="tastesuperior.mp3">
			Taste Superior
		</a>
	
	</li>
	
	<li>
	
		<a href="fleetingnerve.mp3">
			Fleeting Nerve
		</a>
	
	</li>
	
	<li>
	
		<a href="onlybeguntostart.mp3">
			Only Begun To Start
		</a>
	
	</li>

</ul>

<hr>

<h2>Documents</h2>
<h3>Lyrics</h3>
<a href="lyrics.txt">Lyricsheet for all my fawmsongs this year</a>
<h3>Resources</h3>
<b>I Am Houdini: </b> <a href="I_Am_Houdini-Score_and_Parts.pdf">Score/Parts</a> | <a href="I_Am_Houdini_CLICKTRACK.mp3">Clicktrack Audio (cowbell plays 4 quarter notes before the written score)</a><br>
<b>Don't You Worry: </b> <a href="Dont_You_Worry-Score_and_Parts.pdf">Score/Parts</a> | <a href="Dont_You_Worry_CLICKTRACK.mp3">Clicktrack Audio (cowbell plays 4 quarter notes before the written score)</a><br>
<br>
I will have full scores available <a href="https://marksilver.gitlab.io/charts.html">on my charts page</a> for "It's About The Journey" &amp; "Springtime, Cometh!" once I actually complete them.<hr>

<h2>Download Album</h2>

Either clone or download <a href="https://gitlab.com/marksilver/fawm2018/">this repository</a> to view this page &amp; its assets offline. For a lossless-format download, <a href="https://marksilver.bandcamp.com/album/fawm-2018">go to bandcamp</a>.
